<ion-header>
  <ion-toolbar>
    <ion-title>Trips</ion-title>

    <!-- Logout button -->
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul>
    <li *ngFor="let trip of trips">
      {{ trip.title}} <br/>
      {{ trip.description}}
    </li>
  </ul>

  <!-- <p>
    <button type="button" (click)="addTrip()">Add trip</button>
  </p> -->
</ion-content>
