<ion-header>
  <ion-toolbar>
    <ion-title>Trips</ion-title>

    <!-- Logout button -->
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="order">
    <span>Order</span>
    <br/>
    <ion-chip id="orderAlphabeticDown" class="selected" (click)="orderAlphabeticDown()">
      <ion-label>Alphabetic</ion-label>
      <ion-icon name="arrow-down"></ion-icon>
    </ion-chip>
    <ion-chip id="orderAlphabeticUp" (click)="orderAlphabeticUp()">
      <ion-label>Alphabetic</ion-label>
      <ion-icon name="arrow-up"></ion-icon>
    </ion-chip>
    <ion-chip id="orderDateDown" (click)="orderDateDown()">
      <ion-label>Date</ion-label>
      <ion-icon name="arrow-down"></ion-icon>
    </ion-chip>
    <ion-chip id="orderDateUp" (click)="orderDateUp()">
      <ion-label>Date</ion-label>
      <ion-icon name="arrow-up"></ion-icon>
    </ion-chip>
    
    
  </div>

  <ion-searchbar [(ngModel)]="searchedKeyword"></ion-searchbar>

  <ion-card *ngFor="let trip of trips | filter:searchedKeyword">
    <ion-card-header>
      <ion-card-title routerLink="/places"> {{ trip.title}} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ trip.description}}
      <div class="details">
        {{ trip.placeCount }} places in this trip
      </div>
      <div class="card-button">
        <ion-button color="attention" class="delete-button" (click)="delete(trip._id)">DELETE</ion-button>
        <ion-button color="primary" class="modify-button" (click)="modifyRedirect(trip._id)">MODIFY</ion-button>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-button class="add-button" (click)="addRedirect()">
    <ion-icon slot="icon-only" name="add"></ion-icon>
  </ion-button>
  
</ion-content>