<ion-header>
  <ion-toolbar>
    <ion-title>Create a Trip</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #tripForm="ngForm" (submit)="onSubmit(tripForm)">
    <ion-list>
      <!-- Title input -->
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input
          inputmode="text"
          #title="ngModel"
          required="true"
          name="title"
          [(ngModel)]="tripRequest.title"
          minlength="3"
          maxlength="100"
          
        ></ion-input>
      </ion-item>
  
      <!-- Error message displayed if the title is invalid -->
      <ion-item lines="none" *ngIf="title.invalid && title.touched">
        <ion-text color="danger">Title is required, between 3 and 100 characters</ion-text>
      </ion-item>
  
      <!-- Description input -->
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input
          inputmode="text"
          #description="ngModel"
          required="true"
          name="description"
          [(ngModel)]="tripRequest.description"
          minlength="3"
          maxlength="1000"
        ></ion-input>
      </ion-item>
  
      <!-- Error message displayed if the description is invalid -->
      <ion-item lines="none" *ngIf="description.invalid && description.touched">
        <ion-text color="danger">Description is required, between 3 and 1000 characters</ion-text>
      </ion-item>
    </ion-list>
  
    <div class="ion-padding">
      <!-- Submit button -->
      <ion-button type="submit" expand="block" [disabled]="tripForm.invalid"
        >Create a Trip</ion-button
      >
  
      <!-- Error message displayed if the description failed -->
      <ion-text color="danger" *ngIf="tripError"
        >Title or description is invalid.</ion-text
      >
    </div>
  </form>

</ion-content>
