<ion-header>
  <ion-toolbar>
    <ion-title>{{trip?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <p>{{trip?.description}}</p>
  </ion-text>
  <div class="map" leaflet [leafletOptions]="mapOptions" [leafletLayers]="mapMarkers"
    (leafletMapReady)="onMapReady($event)"></div>
  <ion-searchbar [(ngModel)]="searchedKeyword"></ion-searchbar>
  <ion-card *ngFor="let place of places | filter:searchedKeyword">
    <ion-card-header [routerLink]="['place-details', place._id]" tappable>
      <ion-card-title> {{ place.title}} </ion-card-title>
    </ion-card-header>
    <div class="card-content">
      <ion-img class="img-content" *ngIf="place.pictureUrl" [src]="place.pictureUrl"></ion-img>
      <ion-card-text
        [ngClass]="{'textWithImage-content':place.pictureUrl, 'textWithoutImage-content':!place.pictureUrl}">{{
        place.description}}</ion-card-text>
    </div>

    <ion-card-content>
      <div class="card-button">
        <ion-button color="attention" class="delete-button" (click)="showConfirmAlert(place._id)">DELETE
        </ion-button>
        <ion-button color="primary" class="modify-button">MODIFY</ion-button>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-button class="add-button" [routerLink]="[trip?._id, 'create-place']">
    <ion-icon slot="icon-only" name="add"></ion-icon>
  </ion-button>

</ion-content>