<ion-header>
  <ion-toolbar>
    <ion-title>Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let place of places">
    <ion-card-header>
      <ion-img [src]="place.pictureUrl"></ion-img>
      <ion-card-title> {{ place.title}} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ place.description}}
      <div class="card-button">
        <ion-button color="attention" class="delete-button">DELETE</ion-button>
        <ion-button color="primary" class="modify-button">MODIFY</ion-button>
      </div>

    </ion-card-content>
  </ion-card>
  
</ion-content>