.card-content{
    display: grid;
    column-gap: 0;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: "img text";
}

.img-content {
    margin:10px;
    grid-area: img;
}
.textWithImage-content {
    margin:10px;
    grid-area: text;
}

.textWithoutImage-content {
    margin:10px 0px 0px 0px;
}

.card-buttons{
    display: grid;
    column-gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "delete modify";
}

.delete-button{
    margin:0;
    grid-area: delete;
    width: 50%;
    --color: var(--attention, #EB445A);
}

.modify-button{
    margin:0;
    grid-area: modify;
    width: 50%;
}

ion-button.add-button{
    width: 3rem;
    height: 3rem;
    --border-radius: 100%;
    position:fixed;
    bottom: 50px;
    right: 20px;
}

ion-img {
    border-radius: 5px;
}

ion-text {
    text-align: center;
}
