<ion-header>
  <ion-toolbar>
    <ion-title>Places</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let place of places">
    <ion-card-header>
      <div [routerLink]="['place-details', place._id]" tappable>
        <ion-img [src]="place.pictureUrl"></ion-img>
        <ion-card-title> {{ place.title}} </ion-card-title>
      </div>
    </ion-card-header>
    <ion-card-content>
      <div [routerLink]="['place-details', place._id]" tappable>
        {{ place.description}}
      </div>
      <div class="card-button">
        <ion-button color="attention" class="delete-button">DELETE</ion-button>
        <ion-button color="primary" class="modify-button">MODIFY</ion-button>
      </div>

    </ion-card-content>
  </ion-card>
  
</ion-content>