<ion-header>
  <ion-toolbar>
    <ion-title>Sign-up</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #signupForm="ngForm" (submit)="onSubmit(signupForm)">

    <ion-list>
      <!-- mail input -->
      <ion-item>
        <ion-label position="floating">Mail</ion-label>
        <ion-input
          inputmode="email"
          #mail="ngModel"
          required="true"
          email="true"
          name="mail"
          type="email"
          [(ngModel)]="signupRequest.mail"
          minlength="3"
          maxlength="50"
        ></ion-input>
      </ion-item>
  
      <!-- Error message displayed if the mail is invalid -->
      <ion-item lines="none" *ngIf="mail.invalid && mail.touched">
        <ion-text color="danger">An valid mail is required, between 3 and 50 charachter</ion-text>
      </ion-item>

    
      <!-- Username input -->
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input
          inputmode="text"
          #username="ngModel"
          required="true"
          name="username"
          [(ngModel)]="signupRequest.username"
          minlength="2"
          maxlength="50"
        ></ion-input>
      </ion-item>
  
      <!-- Error message displayed if the username is invalid -->
      <ion-item lines="none" *ngIf="username.invalid && username.touched">
        <ion-text color="danger">Username is required, between 2 and 50 charachter</ion-text>
      </ion-item>
  
      <!-- Password input -->
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input
          inputmode="text"
          #password="ngModel"
          required="true"
          type="password"
          name="password"
          [(ngModel)]="signupRequest.password"
        ></ion-input>
      </ion-item>
  
      <!-- Error message displayed if the password is invalid -->
      <ion-item lines="none" *ngIf="password.invalid && password.touched">
        <ion-text color="danger">Password is required.</ion-text>
      </ion-item>
    </ion-list>
  
    <div class="ion-padding">
      <!-- Submit button -->
      <ion-button type="submit" expand="block" [disabled]="signupForm.invalid"
        >Sign-Up</ion-button
      >
  
      <!-- Error message displayed if the login failed -->
      <ion-text color="danger" *ngIf="signupError"
        >Username, password, or mail is invalid, or mail is already used.</ion-text
      >
    </div>
  </form>

</ion-content>
