ion-button.edit-button{
    width: 3rem;
    height: 3rem;
    --border-radius: 100%;
    position:fixed;
    bottom: 120px;
    right: 20px;
    z-index: 10;
}

ion-button.delete-button{
    width: 3rem;
    height: 3rem;
    --border-radius: 100%;
    position:fixed;
    bottom: 50px;
    right: 20px;
    // color: #EB445A !important; 
    z-index: 20;
    
}

// ion-img{
//     width: 60%;
//     height: 30%;
// }

.map {
    height: 50%;
    z-index: 3;
}

#map{
    margin: 10px auto;
}

#coordinate{
    color: #aeaeae;
    font-style: italic;
}