<ion-header>
  <ion-toolbar>
    <ion-title>PlaceDetails</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card> -->
    <ion-card-header>
      <ion-img *ngIf="placeDetails.pictureUrl" [src]="placeDetails?.pictureUrl"></ion-img>
      <ion-card-title> {{placeDetails?.title}} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        {{placeDetails?.description}}
      </p>
      <div id="map">
        ICI VIENDRA LA MAP
      </div>
      <div id="coordinate">
        Longitude: {{placeDetails?.location.coordinates[0]}},
        Latitude: {{placeDetails?.location.coordinates[1]}}
      </div>
    </ion-card-content>
  <!-- </ion-card> -->
  

  <ion-button class="edit-button" (click)="editRedirect()">
    <ion-icon slot="icon-only" name="create"></ion-icon>
  </ion-button>

  <ion-button color="attention" (click)="delete(placeDetails?._id, placeDetails?.tripId)" class="delete-button" ><!--faut que j'affiche popup de vérification-->
    <ion-icon slot="icon-only" name="trash"></ion-icon>
  </ion-button>


</ion-content>
