<ion-header>
  <ion-toolbar>
    <ion-title>{{placeDetails?.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card> -->
    <ion-card-header>
      <ion-img [src]="placeDetails?.pictureUrl"></ion-img>
    </ion-card-header>
    <ion-card-content>
      <p>
        {{placeDetails?.description}}
      </p>
      <div id="map">
        <canvas width=600 height=300 style='background-color: #EEE;'></canvas>
        <div id="coordinate">
          Longitude: {{placeDetails?.location.coordinates[0]}},
          Latitude: {{placeDetails?.location.coordinates[1]}}
        </div>
      </div>
      
    </ion-card-content>
  <!-- </ion-card> -->
  

  <ion-button class="edit-button" (click)="editRedirect()">
    <ion-icon slot="icon-only" name="create"></ion-icon>
  </ion-button>

  <!--<ion-button color="attention" (click)="delete(placeDetails?._id, placeDetails?.tripId)" class="delete-button" >
    <ion-icon slot="icon-only" name="trash"></ion-icon>
  </ion-button>-->

  <!-- avec pop up de vérification -->
  <ion-button color="attention" (click)="showConfirmAlert(placeDetails?._id, placeDetails?.tripId)" class="delete-button" >
    <ion-icon slot="icon-only" name="trash"></ion-icon>
  </ion-button>


</ion-content>
